@font-face {
  font-family: "font-1";
  src: url(/Assets/OptimusPrincepsSemiBold.ttf);
  font-family: "font-2";
  src: url(./Assets/Napoleon-Bold.ttf);
}

* {
  padding: 0;
}

/* body règles générals  */
body {
  font-family: "font-2";
  background-color: rgb(41, 41, 41);
  min-height: 100vh;
  margin: 0px 100px 0px 100px;
}

/* Header */

header {
  background: url(./Assets/test2.jpg) center/cover;
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

.left-part-header {
  display: flex;
  justify-content: flex-end;
}

header img {
  max-width: 50%;
}

.right-part-header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.right-part-header h2 {
  font-family: "font-1";
  font-size: 50px;
  color: white;
}

/* main-info */
.main-info {
  background-color: rgb(231, 231, 231);
  padding: 40px 0px 50px 0px;
  align-items: center;
}

.main-info p {
  color: rgb(0, 0, 0);
  padding: 0px 70px 0px 70px;
  font-size: 20px;
}

.main-info a {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 30px 0px 0px 0px;
}

/* ***holdfast** */

.Holdfast-part {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(114, 114, 114);
  padding: 10px 0px 10px 0px;
  color: white;
}

.holdfast-content {
  text-align: center;
  padding: 0px 0px 450px 0px;
}

.holdfast-content p {
  font-size: 20px;
  padding: 0px 40px 0px 40px;
}

.holdfast-content img {
  width: 40%;
  padding: 20px 0px 0px 0px;
}
.img {
  background: url(./Assets/holdfast.png) center/cover;
  margin: 0px 10px 0px 0px;
}

/* *****NW*** */
.NW-part {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(114, 114, 114);
  padding: 10px 0px 10px 0px;
  color: white;
}

.NW-content {
  text-align: center;
  padding: 0px 0px 450px 0px;
}
.NW-content p {
  font-size: 20px;
  padding: 0px 40px 0px 40px;
}

.NW-content img {
  width: 40%;
  padding: 20px 0px 0px 0px;
}
.imgNW {
  background: url(./Assets/1.png) center/cover;
  margin: 0px 0px 0px 10px;
}

/* *****Histoire*** */
.histoire {
  background: white;
  padding: 0px 70px 100px 70px;
  text-align: center;
}

.histoire h2 {
  font-size: 30px;
  padding: 20px 0px 0px 0px;
  margin: 0;
}

.histoire p {
  font-size: 20px;
}

/* *****contact**** */

ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: black;
  padding: 10px 0px 0px 0px;
  margin: 0 ;
  list-style: none;
}

a{
  display: flex;
  justify-content: center;
}

.contact p {
  margin: 0;
}

.contact img {
  width: 20%;
}

.contact a {
  text-decoration: none;
  color: white;
}

#FSE{
  width: 30%;
}